body {
    background-image: url(/img/photos/dogs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
header {
    opacity: 0.5;
}
img{
    width: 100%;
}